html {
    position: relative;
    min-height: 100%;
}

.container {
    font-family: 'Cabin Sketch', cursive;
    margin: 0 auto;
}

#gifSection {
    min-height: 100px;
    margin-bottom: 75px;
}

#gif-form {
    margin: 15px;
}

#submit-button {
    background-color: #b380d0;
    color: white;
}

.animal-button {
   background-color: black;
   color: white;
   margin: 5px;
}

.animal-image {
    float: left;
}

.ratings {
    float: left;
}

.buttons {
    margin: 15px;
}

.gifs > div {
    padding: 15px;
    display: inline-block;
}

.jumbotron {
    background-image: url("../images/animal-collage.jpeg");
    background-size: cover;
    height: 625px;
}

.card-header {
    background-color: #b380d0;
    color: white;
}

header {
    color: white;
    position: absolute;
    left: 375px;
    top: 240px;
    text-align: center;
    background-color: black;
    height: 150px;
    padding-top: 15px;
    padding-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: #b380d0;
    margin-top: 25px;
    width: 100%;
    color: white;
    border-top: solid 1px grey;
}

.card {
    background-color: #dddddd;
    margin-bottom: 15px;
}

#copyright {
    margin-left: 45%;
}

#directions {
    color: #b380d0;
}